<div [formGroup]="form">
  <mat-card formGroupName="guardian">
    <mat-card-title>
      <mat-toolbar>
        Guardian Information
      </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Guardian First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Guardian Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Home Phone</mat-label>
        <input matInput type="tel" formControlName="homePhone" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mobile Phone</mat-label>
        <input matInput type="tel" formControlName="mobilePhone" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preferred Contact Method</mat-label>
        <mat-select formControlName="preferredContactMethod">
          <mat-option *ngFor="let method of contactMethods" [value]="method">
            {{ method }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div formGroupName="address">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="street" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Postal Code</mat-label>
          <input matInput formControlName="postal" />
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card formArrayName="players" *ngFor="let player of form.get('players').controls; let i = index;">
    <mat-card-title>
      <mat-toolbar>Player #{{ (i + 1).toString() }}</mat-toolbar>
    </mat-card-title>
    <mat-card-content [formGroupName]="i">
      <mat-form-field>
        <mat-label>Player First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Player Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput type="date" formControlName="dateOfBirth" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Age Group</mat-label>
        <mat-select formControlName="ageGroup">
          <mat-option *ngFor="let group of ageGroups" [value]="group">
            {{ group }}
          </mat-option>
        </mat-select>
        <mat-hint>This is hint text</mat-hint>
      </mat-form-field>
      <div class="mat-input-container mat-form-field ng-tns-c4-5 mat-primary mat-form-field-type-mat-select mat-form-field-can-float ng-untouched ng-pristine ng-valid mat-form-field-should-float">
        <div class="mat-input-wrapper mat-form-field-wrapper">
          <div class="mat-input-flex mat-form-field-flex column">
            <div class="mat-input-infix mat-form-field-infix">
              <mat-slider placeholder="Skill Level" min="1" max="5" tickInterval="1" formControlName="level" #slider></mat-slider>
              <span class="mat-form-field-label-wrapper mat-input-placeholder-wrapper mat-form-field-placeholder-wrapper">
                <label class="mat-form-field-label mat-input-placeholder mat-form-field-placeholder ng-tns-c4-12 ng-star-inserted" ng-reflect-ng-switch="true"
                  for="mat-input-10" aria-owns="mat-input-10">
                  <mat-label _ngcontent-c1="" class="ng-star-inserted">Skill Level</mat-label>
                </label>
              </span>
            </div>
          </div>
          <div class="mat-input-subscript-wrapper mat-form-field-subscript-wrapper" ng-reflect-ng-switch="hint">
            <div class="mat-input-hint-wrapper mat-form-field-hint-wrapper ng-tns-c4-15 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
              style="opacity: 1; transform: translateY(0%);">
              <mat-hint _ngcontent-c1="" class="mat-hint" id="mat-hint-0">{{ getSkillLevelText(slider.value) }}</mat-hint>
              <div class="mat-input-hint-spacer mat-form-field-hint-spacer"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- <label class="mat-input-placeholder">Skill Level</label>
      
      <div class="mat-input-subscript-wrapper">
        <p class="mat-hint">{{ getSkillLevelText(slider.value) }}</p>
      </div> -->
    </mat-card-content>
  </mat-card>
</div>

<p>Form value: {{ form.value | json }}</p>